* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #000;
  color: #ddd;
}



a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  animation: blur 2s ease;

}

@keyframes blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
