.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  animation: blur 2s ease;
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.2rem;
    color: #ccc;
  }
  a {
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    img {
      height: 50px;
      width: 50px;
    }
  }
}

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  .aboutContainer {
    display: flex;
    gap: 40px;
    padding: 50px;
    border: 1px solid #222;
    border-radius: 6px;
    .imageContainer {
      img {
        max-width: 400px;
        border-radius: 8px;
        height: 100%;
      }
    }
    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        line-height: 30px;
        letter-spacing: 1px;
      }
      a {
        font-size: 1rem;
        padding: 10px 20px;
        border: 0;
        border-radius: 6px;
        width: 200px;
        background-color: #f3f3f3;
        color: #222;
        text-align: center;
      }
    }
  }
  > a {
    width: 50px;
    height: 50px;
  }
}

.projects {
  padding: 0 20px;
  min-height: 60vh;
  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@keyframes blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 40rem) {
  .hero {
    h1 {
      font-size: 2.5rem;
    }
  }

  .about {
    height: auto;
    padding-top: 6rem;
    .aboutContainer {
      flex-direction: column;
      padding: 20px;
      .imageContainer {
        img {
          width: 100%;
        }
      }
      .textContainer {
        a {
          margin-top: 2rem;
        }
      }
    }
  }

  .projects {
    margin-top: 4rem;
    .grid {
      display: flex;
      flex-direction: column;
    }
  }

  @keyframes blur {
    0% {
    }
    100% {
    }
  }
}
